@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

/* General styles */
body {
    margin: 0;
    padding: 0;
    color:#333333;
    font-size:100%;
    font-family: 'Lato','Helvetica Neue', Helvetica, Arial;
    min-height:480px;
    min-width:320px;
}

a {
    color: #3388EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.external {
    background: url('../images/external.png') center right no-repeat;
    padding-right: 13px;
}


.header {
    margin: 100px 0 75px 0;
}

.footer {
    padding-top: 20px;
}

.header a {
    color: #6a6a6a;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 65.9375%;    /* 633px / 960px */
}


/* Other General Style */
h1, h2, h3, h4, h5, h6, .header, .footer {
  font-weight: bold;
  text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
}
h1 {
  font-size: 1.875em;
  line-height: 2.25em;
}
h1 small {
  font-size: 1.125em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.8em;
}
h2 small {
  font-size: 1.125em;
}
h3 {
  font-size: 1.125em;
  line-height: 1.6875em;
}
h3 small {
  font-size: .875em;
}
h4, h5, h6 {
  line-height: 1.125em;
}
h4 {
  font-size: .875em;
}
h4 small {
  font-size: .75em;
}
h5 {
  font-size: .75em;
}
h6 {
  font-size: .6875em;
  text-transform: uppercase;
}

p, li, pre {
  max-width: 40em;
}

p, li {
  line-height: 1.5em;
  margin: 1em 0;
}

.low_pad {
  padding:.25em;
}

.mid_pad {
  padding:.5em;
}

.high_pad {
  padding:1em;
}

/* Posts */
.entry {
  padding-bottom:2.5em;
}
.page-header h1 {
  line-height: 1.35em;
}
.page-header {
margin: 1em 0;
}

.meta {
  margin: 0 0 .5em;
}

.footnote-ref {
    background-color: #DEF;
    padding: 0px 3px;
}
.footnote-ref:before { content: "["; }
.footnote-ref:after { content: "]"; }

/* Layout */
img, object, iframe {
    max-width: 100%;
}

.island {
  margin: 1em;
}

.right {
clear:none;
float:right;
}
.left{
clear:none;
float:left;
}
.center{
    text-align:center;
}
.pagination {
  text-align: center;
  position: relative;
}
.pagination a {
  display: block;
}

.fix {
clear:both;
padding:.5em;
}


/* Typography */
.up {
    text-transform:uppercase;
}

/* Minimal Table */
table {
    background:#fff;
    border-right:0;
    clear: both;
    margin-bottom: .5em;
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}

th {
    vertical-align: bottom;
    border:0;
    border-bottom:2px solid #555;
    text-align: left;
    padding:4px;
    color:#282828;
    font-size:1.2em;
}
th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
    color:#282828;
}
th a.asc:after {
    content: ' ⇣';
}
th a.desc:after {
    content: ' ⇡';
}
table tr td {
    border-bottom:1px solid #ddd;
    padding:5px;
    text-align:left;
    vertical-align:top;
    font-size:1em;
}
table tr:nth-child(even) {
    background: #f9f9f9;
}

/** Scaffold View **/

dl {
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    font-weight: bold;
    padding-right: 7px;
}
dt:after {
    content: ": ";
}
dd {
    padding: 0 0 0.2em;
}

hr {
  margin: 1.125em 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.sub, .sub a {
  color: #999999;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #ddd;
}

.initialism {
  font-size: .9em;
  text-transform: uppercase;
}

blockquote {
  padding: 0 0 0 1em;
  margin: 0 0 1.125em;
  border-left: 5px solid #eeeeee;
}

blockquote small {
  display: block;
  line-height: 1.125em;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  float: right;
  padding-right: 1em;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 1.125em;
  font-style: normal;
  line-height: 1.125em;
}

small {
  font-size: .8125em;
}

cite {
  font-style: normal;
}

code {
    font-family: 'PT Mono';
    background:#ffeeee;
    padding:5px;
    color:#111;
}
pre {
    font-family: 'PT Mono';
    background:#EEE;
    margin: 1em 0;
    padding: .3em .4em;
    overflow: auto;
}

.white {
    background-color:white;
    border:1px solid #DDD;
    padding:1em;
}

.section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@media (max-width: 600px) {
    .content {
        width: 93.75%;
    }
}
