extends base

block title
    {{article.title}}

block head
    - if article.code
        link(rel="stylesheet", type="text/css", href="/theme/css/code.css")

block content
    article_page = True
    include post

    //- - if article.tags
    //-   p
    //-     | Tags: 
    //-     - for tag in article.tags
    //-       a(href="") {{tag}}

    hr
    - if article.comments and DISQUS_SITENAME and SITEURL and article.status != "draft"
      .comments
        h3
          | Add comment or 
          a.twitter-share-button(href="https://twitter.com/share", data-via="faltoo") Tweet it
        #disqus_thread
        script
          var disqus_identifier = "{{article.url}}";
          var disqus_url = "{{ SITEURL }}/{{ article.url }}";
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://{{DISQUS_SITENAME}}.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();

block body_end
  script
    // Put this just before the closing body tag
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
