doctype 5
html(lang="{{ DEFAULT_LANG }}")
    head
        meta(charset="utf-8")
        meta(name="author", content="#{AUTHOR}")
        title
            block title
                | #{SITENAME}

        - if FEED_RSS
            link(href="#{FEED_DOMAIN}", type="application/rss+xml", rel="alternate", title="#{SITENAME} RSS Feed")

        link(rel="shortcut icon", href="/favicon.ico")
        link(href="/favicon.ico", type="image/x-icon", rel="icon")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet", type="text/css", href="/theme/css/css.css")

        block head

    body

        header.header.content
            .center
                a(href="/")
                    img(src="/theme/images/logo.png", alt='Pratyush - A <GeeK>!!!')
            .fix

        .content
            block content

            footer.footer
                p
                    a(href="/pages/about/") Pratyush Mittal?
                    a.right(href="http://feedburner.google.com/fb/a/mailverify?uri=fullyfaltoo") Get updates via Email
                p: small
                    | Powered by 
                    a(href="http://getpelican.com") Pelican
                    | , hosted on 
                    a(href="http://www.github.com") GitHub
                    |  and written with 
                    img(src="/theme/images/heart.png")
                    |  in India.
