<article>
  <header>
    <div class="meta sub">
      <a href="{{ SITEURL }}/{{ article.url }}">
        <small>
          Posted on {{ article.locale_date }}
        </small>
      </a>
    </div>
    <h1>
      {% if article.link %}
        <a class="external" href="{{ article.link }}">{{ article.title }}</a>
      {% elif not article_page %}
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      {% else %}
        {{ article.title }}
      {% endif %}
    </h1>
  </header>

  <div class="page-content">
    <div class="post">
      {{ article.content|safe }}
      {% if article.link and article_page %}
        <p>
          <a class="external" href="{{ article.link }}">
            {{ article.title }}
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</article>
